body {
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    line-height: 1.5;
    text-align: center;
}

body.dark {
    background-color: #333;
    color: #fff;
}

body.dark h2 {
    color: #006EB6;
}

h1 {
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 0.5em;
}

h2 {
    font-size: 1em;
    color: #006EB6;
    margin-top: 0;
    padding-bottom: 5px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.3);
    display: inline-block;
    width: 75%;
    text-transform: uppercase;
}

main {
    max-width: 600px;
    margin: 0 auto;
    text-align: left;
    padding: 20px;
}

ol {
    padding-left: 20px;
}

ol li {
    margin-bottom: 10px;
}

footer {
    text-align: center;
    margin-top: 20px;
}

footer img {
    margin-top: 20px;
    width: 150px;
    height: auto;
}

.mission-container {
    border: 2px solid black;
    padding: 20px;
    max-width: 600px;
    margin: 2em auto;
}